.pet {
  height: 100%;
  background-color: #669999;

  .pet-red-container {
    height: 100%;
    display: flex;

    app-pet-list {
      flex: 1;
    }

    app-pet-detail {
      flex: 2;
    }

    app-pet-list,
    app-pet-detail {
      padding: 10px;
    }
  }

  .add-pet {
    height: 100%;
  }
}
